@(stops: List[StationStop])
<br>
<div class="container">
    <form class="form-horizontal dark" action="@routes.ConnectionController.doAddConnection()" method="post">
        <fieldset>
            <!-- Form Name -->
            <legend>Add Connection</legend>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="stopA">Stop A</label>
                <div class="col-md-6">
                    <select id="stopA" name="stopA" class="form-control" required="">
                        @for(stop <- stops) {
                        <option value="@stop.id">@stop.name on Line @stop.line</option>
                        }
                    </select>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="stopB">Stop B</label>
                <div class="col-md-6">
                    <select id="stopB" name="stopB" class="form-control" required="">
                        @for(stop <- stops) {
                        <option value="@stop.id">@stop.name on Line @stop.line</option>
                        }
                    </select>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="time">Connection Time</label>
                <div class="col-md-6">
                    <input id="time" name="time" type="number" placeholder="i.e. time between stops (minutes)" class="form-control input-md" required="" min="0">
                </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></label>
                <div class="col-md-8">
                    <button id="submit" name="submit" class="btn btn-success">Add</button>
                    <a href="@routes.ConnectionController.list()" id="cancel" name="cancel" class="btn btn-danger">Cancel</a>
                </div>
            </div>

        </fieldset>
    </form>
</div>
<br>