@(stops: List[StationStop])
<br>
<div class="container">
    <form class="form-horizontal dark" action="@routes.ConnectionController.doAddConnection()" method="post">
        <fieldset>
            <!-- Form Name -->
            <legend>Add Connection</legend>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="stopA">Stop A</label>
                <div class="col-md-6">
                    <select id="stopA" name="stopA" class="form-control" required="">
                        @for(stop <- stops) {
                        <option value="@stop.id">@stop.name on Line @stop.line</option>
                        }
                    </select>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="stopB">Stop B</label>
                <div class="col-md-6">
                    <select id="stopB" name="stopB" class="form-control" required="">
                        @for(stop <- stops) {
                        <option value="@stop.id">@stop.name on Line @stop.line</option>
                        }
                    </select>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="time">Connection Time</label>
                <div class="col-md-6">
                    <input id="time" name="time" type="number" placeholder="i.e. time between stops (minutes)" class="form-control input-md" required="" min="0">
                </div>
            </div>
            <div class = "form-group>">
                <label class="col-md-4 control-label" for="checkbox">Make Uni-Directional</label>
                <div class="col-md-6">
                    <div class="checkbox">
                        <input type="checkbox" id="checkbox" name="checkbox" value="true">
                        <a href="#" class="help" title="Uni-Directional Connections" data-toggle="popover" data-trigger="focus" data-content="For maintenance/corrections only. Not intended for creating independent uni-directional connections." data-placement="top">
                            <span class="glyphicon glyphicon-exclamation-sign" style="color:yellow;margin:2px" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>

            </div>
            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></label>
                <div class="col-md-8">

                    <button id="submit" name="submit" class="btn btn-success">Add</button>
                    <a href="@routes.ConnectionController.list()" id="cancel" name="cancel" class="btn btn-danger">Cancel</a>
                </div>
            </div>

        </fieldset>
    </form>
</div>
<br>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>