@(stations: List[Station], lines: List[Line], message: Html)
<div class="container">
    <br>
    <form class="form-horizontal" action="@routes.StopController.doAddStop()" method="post">
        <fieldset>
            <legend>Add Stop</legend>
            @if(lines.isEmpty) {
            <h1 class="dark">Add Lines first.</h1>
            <div class="form-group">
                <br>
                <div class="text-center">
                    <a href="@routes.StopController.list()" id="cancel" name="cancel" class="btn btn-danger">Back</a>
                </div>
            </div>
            }
            @if(stations.isEmpty) {
            <h1 class="dark">Add Stations first.</h1>
            <div class="form-group">
                <br>
                <div class="text-center">
                    <a href="@routes.StopController.list()" id="cancel" name="cancel" class="btn btn-danger">Back</a>
                </div>
            </div>
            } else {
            @message
            <div class="form-group">
                <label class="col-md-4 control-label" for="line">Stations</label>
                <div class="col-md-6">
                    <select id="name" name="name" class="form-control" required="">
                        @for(station <- stations) {
                        <option value="@station.name">@station.name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="line">Lines</label>
                <div class="col-md-6">
                    <select id="line" name="line" class="form-control" required="">
                        @for(line <- lines) {
                        <option value="@line.name">@line.name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></label>
                <div class="col-md-8">
                    <button id="submit" name="submit" class="btn btn-success">Add</button>
                    <a href="@routes.StopController.list()" id="cancel" name="cancel" class="btn btn-danger">Cancel</a>
                </div>
            </div>
            }
        </fieldset>
    </form>
    <br>
</div>