@(stops: List[StationStop])
<br>
<div class="container transparent">
    <div class="container-fluid">
        @if(stops.isEmpty) {
        <legend>Current Stops</legend>
        <h1 class="dark">No records</h1>

        } else {
        <table id="stops" class="table dark table-striped">
            <legend>Current Stops            <div class="form-group pull-right">
                <div class="text-center">
                    <a href="@routes.AdminController.options()" id="back" name="back" class="btn btn-info">Back</a>
                    <a href="@routes.StopController.add()"id="add" name="add" class="btn btn-success">Add Stop</a>
                </div>
            </div></legend>
            <thead>

            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Line</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="dark">
            @for(stop <- stops) {
            <tr>
                <th>@stop.id</th>
                <th>@stop.name</th>
                <th>@stop.line</th>
                <th>
                    <a class="btn btn-danger" data-toggle="confirmation" href="@routes.StopController.deleteStop(stop.id)" target="">Delete</a>
                </th>

                <th>
                    <a href="#" class="help" title="Warning!" data-toggle="popover" data-trigger="focus" data-content="Removing a Stop will also remove all Connections to/from that Stop ." data-placement="left">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
                </th>
            </tr>
            }
            </tbody>
        </table>
        }

        <br>
        <!-- Button (Double) -->
        <div class="form-group">
            <div class="text-center">
                <a href="@routes.AdminController.options()" id="back" name="back" class="btn btn-info">Back</a>
                <a href="@routes.StopController.add()"id="add" name="add" class="btn btn-success">Add Stop</a>
            </div>
        </div>
    </div>
</div>
<br>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
    $('[data-toggle=confirmation]').confirmation({
  rootSelector: '[data-toggle=confirmation]',
});
});


</script>