@(lines: List[Line])
<div class="container">
    <br>
    <form class="form-horizontal dark" action="@routes.AdminController.doAddStop()" method="post">
        <fieldset>
            @if(lines.isEmpty) {
            <legend>Add Stop</legend>
            <h1 class="dark">Add Lines first.</h1>
            <div class="form-group">
                <br>
                <div class="text-center">
                    <a href="@routes.AdminController.adminStops()" id="cancel" name="cancel" class="btn btn-danger">Back</a>
                </div>
            </div>            } else {
            <!-- Form Name -->
            <legend>Add Stop</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="name">Stop Name</label>
                <div class="col-md-4">
                    <input id="name" name="name" type="text" placeholder="e.g. Newcastle" class="form-control input-md" required="">

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="line">Line</label>
                <div class="col-md-6">
                    <select id="line" name="line" class="form-control" required="">
                        @for(line <- lines) {
                        <option value="@line.name">@line.name Line</option>
                        }
                    </select>
                </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></label>
                <div class="col-md-8">
                    <button id="submit" name="submit" class="btn btn-success">Add</button>
                    <a href="@routes.AdminController.adminStops()" id="cancel" name="cancel" class="btn btn-danger">Cancel</a>
                </div>
            </div>
            }
        </fieldset>
    </form>
    <br>
</div>