<br>
<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <a href="@routes.AdminController.adminStops()" class="card-link">
                    <div class="thumbnail">
                        <img src="@routes.Assets.versioned("img/linesbtn.png")" alt="Lines">
                        <div class="caption">
                            <h3 class="text-center">Line Options</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-3">
                <a href="@routes.AdminController.adminStops()" class="card-link">
                    <div class="thumbnail">
                        <img src="@routes.Assets.versioned("img/stationbtn.png")" alt="Stations">
                        <div class="caption">
                            <h3 class="text-center">Station Options</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-3">
                <a href="@routes.AdminController.adminConnections()" class="card-link">
                    <div class="thumbnail">
                        <img src="@routes.Assets.versioned("img/connectionsbtn.png")" alt="Connections">
                        <div class="caption">
                            <h3 class="text-center">Connections Options</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-3">
                <a href="MaintainAdmins.jsp" class="card-link">
                    <div class="thumbnail">
                        <img src="@routes.Assets.versioned("img/adminbtn.png")" alt="Users">
                        <div class="caption">
                            <h3 class="text-center">User Accounts</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <form action="@routes.Application.index()">
        <button class="btn btn-md btn-primary" type="submit">Logout</button>
    </form>
</div>
