@()
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Routeline</title>

    <!-- Bootstrap core CSS -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- Custom styles for this template -->
    <script src="@routes.Assets.versioned("js/jquery-3.1.1.min.js")"></script>
    <script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")"></script>

    <link href="@routes.Assets.versioned("bootstrap/css/ie10-viewport-bug-workaround.css")" rel="stylesheet">
    <link href="@routes.Assets.versioned("bootstrap/css/jumbotron-narrow.css")" rel="stylesheet">
    <script src="@routes.Assets.versioned("bootstrap/js/ie-emulation-modes-warning.js")"></script>

    <link href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")" rel="stylesheet">

</head>

<body>
<div class="container">
    <div class="header clearfix">

        <nav>
            <a href="#" class="navbar-left"><img src="@routes.Assets.versioned("img/logo.png")" class="img-responsive"></a>
        </nav>

    </div>

    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-5">

        </div>
        <div class="col-md-5">

        </div>
        <div class="col-md-1">
        </div>
    </div>
    <div class="jumbotron">

    </div>
    <footer class="footer">
        <p>© 2017 Routeline</p>
    </footer>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="@routes.Assets.versioned("bootstrap/js/ie10-viewport-bug-workaround.js")"></script>

  </body>

</html>

