@(title: String)(content: Html)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>@title</title>

    <!-- Bootstrap core CSS -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- Custom styles for this template -->
    <link href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@routes.Assets.versioned("bootstrap/css/ie10-viewport-bug-workaround.css")" rel="stylesheet">  
    <link href="@routes.Assets.versioned("bootstrap/css/jumbotron-narrow.css")" rel="stylesheet">
    <script src="@routes.Assets.versioned("bootstrap/js/ie-emulation-modes-warning.js")"></script>

    <!-- Combodate for date/time box + dependencies http://vitalets.github.io/combodate/ -->
    <script src="@routes.Assets.versioned("js/jquery-3.1.1.min.js")"></script>
    <script src="@routes.Assets.versioned("js/moment.min.js")"></script>
    <script src="@routes.Assets.versioned("js/combodate.js")"></script>

  </head>

  <body>
    @content
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="@routes.Assets.versioned("bootstrap/js/ie10-viewport-bug-workaround.js")"></script>
  </body>
</html>
