<div class="row">
	<div class="row">
		<label for="From">From</label>
		<input list="from">
		<datalist id="from">
			<option value="Option 1">Option 1</option>
		  <option value="Option 2">Option 2</option>
		</datalist>
	</div>
	<div class="row">
		<label for="to">To</label>
		<input list="to">
		<datalist id="to">
			<option value="1">Option 1</option>
		  <option value="2">Option 2</option>
		</datalist>
	</div>

		<input type="text" id="time" data-format="HH:mm" data-template="HH : mm" name="datetime">

	</div>
</div>