<form class="form-signin" action="@routes.AdminController.login()" method="post">
    <h2 class="form-signin-heading">Admin Sign in</h2>
    <label for="inputNumber" class="sr-only">Employee ID</label>
    <input type="text" pattern="[a-b][0-9][0-9][0-9][0-9][0-9][0-9][0-9]" id="inputNumber" name="username" class="form-control" placeholder="Employee ID: b1234567" required autofocus/>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
    <div class="checkbox">
        <label>
            <!-- Not yet functional -->
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>