@(stops: List[Stop])

<div class="container-fluid">

    @if(stops.isEmpty) {
    <h1>No records</h1>
    } else {
    <table id="stops" class="table table-striped table-hover table-bordered" style="max-width: 90%;">
        <thead class="thead-inverse">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Line</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @for(stop <- stops) {
        <tr>
            <th>@stop.id</th>
            <th>@stop.getName</th>
            <th>@stop.getLine</th>
            <th>
                <a class="btn btn-danger" href="@routes.AdminController.deleteStop(stop.id)">Delete</a>
            </th>
        </tr>
        }
        </tbody>
    </table>
    }

    <br>
    <div class="text-center">
        <form action="@routes.AdminController.addStopForm()">
            <button class="btn btn-md btn-primary" type="submit">Add Stop</button>
        </form>
    </div>


</div>