@(stops: List[Stop])
<br>
<div class="container transparent">
    <div class="container-fluid">

        @if(stops.isEmpty) {
        <h1 class="dark">No records</h1>
        } else {
        <table id="stops" class="table dark table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Line</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="dark">
            @for(stop <- stops) {
            <tr>
                <th>@stop.id</th>
                <th>@stop.getName</th>
                <th>@stop.getLine</th>
                <th>
                    <a class="btn btn-danger" href="@routes.AdminController.deleteStop(stop.id)">Delete</a>
                </th>
            </tr>
            }
            </tbody>
        </table>
        }

        <br>
        <!-- Button (Double) -->
        <div class="form-group">
            <div class="text-center">
                <a href="@routes.AdminController.login()" id="back" name="back" class="btn btn-info">Back</a>
                <a href="@routes.AdminController.addStopForm()"id="add" name="add" class="btn btn-success">Add Stop</a>
            </div>
        </div>
    </div>
</div>
<br>